<div class="p-fluid">
  <div class="flex flex-col items-center" [formGroup]="form">
    <h5 class="font-bold text-xl mb-4">ข้อกำหนดและเงื่อนไขการใช้งาน</h5>
    
    <div class="w-full p-4 border-1 border-gray-300 rounded-md h-48 overflow-y-auto mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quibusdam soluta aliquam! Dolore earum ipsam est voluptas ad laudantium neque?
      </p>
    </div>

    <div class="flex items-center">
      <p-checkbox formControlName="accepted" [binary]="true" inputId="termsCheckbox"></p-checkbox>
      <label for="termsCheckbox" class="ml-2">ข้าพเจ้ายอมรับข้อกำหนดและเงื่อนไข</label>
    </div>
  </div>

  <div class="flex justify-content-between mt-6">
    <button pButton type="button" label="ย้อนกลับ" icon="pi pi-arrow-left" class="p-button-secondary" aria-label="ย้อนกลับ" (click)="onBack()"></button>
    <button pButton type="button" label="ถัดไป" icon="pi pi-arrow-right" iconPos="right" aria-label="ถัดไป" (click)="onNext()" [disabled]="form.invalid"></button>
  </div>
</div>