.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 2rem 2rem;
    margin-left: calc(80px + 1rem);
    transition: margin-left var(--transition-duration);
}

.layout-main {
    flex: 1 1 auto;
}

@media (max-width: 991px) {
    .layout-main-container {
        margin-left: calc(60px + 0.5rem);
        padding: 4.5rem 1rem 1rem 1rem;
    }
}
