@use 'mixins' as *;

// Base Styles
.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    height: 4rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app-logo {
    max-width: 80%;
    height: auto;
    max-height: 40px;
}

.sidebar-logo-link {
    text-decoration: none;
    display: block;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

.sidebar-divider {
    height: 1px;
    background-color: var(--surface-border);
    margin: 0.5rem 0;
    opacity: 0.5;
}

.layout-main-container {
    flex: 1;
    min-width: 0;
    margin-left: var(--sidebar-width); 
}

.layout-sidebar {
    width: var(--sidebar-width);
    background-color: var(--surface-card);
    padding: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
}

// Menu Display Logic
.desktop-menu,
.mobile-menu {
    display: none !important;
}

@media screen and (min-width: 992px) {
    .layout-wrapper:not(.layout-mobile-active) .layout-sidebar {
        .desktop-menu {
            display: flex !important;
            flex-direction: column !important;
            height: 100% !important;
            justify-content: space-between !important;
        }
        .mobile-menu {
            display: none !important;
        }
    }
}

.layout-mobile-active .layout-sidebar {
    .desktop-menu { display: none !important; }
    .mobile-menu { display: block !important; padding: 1rem; }
}

.layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 998;
    animation: a .2s;
}

.layout-mobile-active .layout-mask {
    display: block;
}

// Styles for Desktop Menu (Slim)
.layout-menu-slim {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .menu-item {
        margin: 0.75rem 0;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .menu-link {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 8px;
        text-decoration: none;
        color: var(--text-color);
        position: relative;
        cursor: pointer !important;
        transition: background-color .2s;
        width: 4rem;
        height: 4rem;

        &:hover {
            background-color: var(--surface-hover);
        }

        &.active-route {
            background-color: var(--surface-hover);
            color: var(--primary-color);
            .menu-icon {
                color: var(--primary-color);
            }
        }
    }

    .menu-icon {
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
    }
}

// Styles for Tooltip and Bottom menu
body .p-tooltip .p-tooltip-text {
    padding: 1rem 1.25rem;
    font-size: 1rem;
}

.bottom-menu {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid var(--surface-border);
    .menu-icon {
        font-size: 1.5rem;
    }
}

.bottom-menu-wrapper {
    margin-top: auto;
}

// Responsive Styles (Mobile)
@media (max-width: 991px) {
    .layout-sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        width: 280px;
    }
    .layout-mobile-active .layout-sidebar {
        transform: translateX(0);
    }
    .layout-main-container {
        margin-left: 0;
    }
    .submenu-sidebar {
    display: none !important;
    }
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .layout-root-menuitem {
        > .layout-menuitem-root-text {
            font-size: 0.857rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--text-color);
            margin: 0.75rem 0;
        }

        > a {
            display: none;
        }
    }

    a {
        user-select: none;
        &.active-menuitem {
            > .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    li.active-menuitem {
        > a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            color: var(--text-color);
            cursor: pointer;
            padding: 0.75rem 1rem;
            border-radius: var(--content-border-radius);
            transition:
                background-color var(--element-transition-duration),
                box-shadow var(--element-transition-duration);

            .layout-menuitem-icon {
                margin-right: 0.5rem;
                font-size: 1rem;
            }

            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform var(--element-transition-duration);
            }

            &.active-route {
                font-weight: 700;
                color: var(--primary-color);
            }

            &:hover {
                background-color: var(--surface-hover);
            }

            &:focus {
                @include focused-inset();
            }
        }

        ul {
            position: static;
            overflow: hidden;
            border-radius: var(--content-border-radius);
            
            li {
                a { margin-left: 1rem; }
                li { a { margin-left: 2rem; } }
            }
        }
    }
}